_ReSharper.Assman/*
[Bb]in
obj
*.user
*.suo
*.cache
*.docstates
*.nupkg
output/*
src/Assman.Mvc/NuGet/lib/
src/Assman.Spark/NuGet/lib/
src/Assman.WebForms/NuGet/lib/
src/Assman.YuiCompressor/NuGet/lib/
src/Assman.dotLess/NuGet/lib/
src/Assman.SassAndCoffee/NuGet/lib/
src/Assman/NuGet/lib/