<assman>
  <scripts>
    <groups>
      <group consolidatedUrl="~/Scripts/Consolidated/Shared.js">
        <include>
          <add regex="~/Scripts/jquery-1\.\d\.\d\.js" />
        </include>
      </group>
    </groups>
    <globalDependencies>
      <!-- add scripts that you want to assume are always present here (e.g. jQuery) -->
    </globalDependencies>
  </scripts>
  <stylesheets>
    <groups>
      <group consolidatedUrl="~/Content/Consolidated/Shared.css">
        <include>
          <add regex="~/Content/.+" />
        </include>
      </group>
    </groups>
    <globalDependencies>
      <!-- add stylesheets you want to always appear first here (e.g. reset stylesheets)-->
    </globalDependencies>
  </stylesheets>
</assman>
