<assman consolidate="true" manageDependencies="true">
  <scripts>
    <groups>
      <group consolidatedUrl="~/Scripts/Consolidated/Shared.js">
        <include>
          <add regex="~/Scripts/jquery-1\.\d\.\d\.min\.js" mode="Release" />
          <add regex="~/Scripts/jquery-1\.\d\.\d\.js" mode="Debug" />
        </include>
      </group>
    </groups>
  </scripts>
  <stylesheets>
    <groups>
      <group consolidatedUrl="~/Content/Consolidated/Shared.css">
        <include>
          <add regex="~/Content/.+" />
        </include>
      </group>
    </groups>
  </stylesheets>
</assman>
